<!DOCTYPE html>

<html>
    <head>
        <title>
            {{title}}
        </title>
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        
        <div class="main-content">
            <h2 data-type="Animation">Page Not Found!!!</h2>
        </div>
    </body>
</html>